<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>Title</key>
            <string>Test Crash Report</string>
            <key>Key</key>
            <string>TestCrashReport</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>IASKButtonSpecifier</string>
            <key>Title</key>
            <string>Test Datadog</string>
            <key>Key</key>
            <string>TestDatadog</string>
        </dict>
    </array>
</dict>
</plist>
