.env
node_modules/
.twilio-functions
.twiliodeployinfo

# iOS
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
apps/ios/fastlane/Preview.html
apps/ios/fastlane/screenshots/**/*.png
apps/ios/fastlane/test_output
/apps/ios/Pods/
IOSLiveStreamSecrets*

# CI
/.bundle/
/Apple Worldwide Developer Relations Certification Authority.cer
/AppleWWDRCAG3.cer
/Certificates.p12
/vendor/
